html {
	font-family: 'Montserrat', sans-serif;
}

body{
	background-color:#26262B;
	background-image: url('/../img/background.svg');
	background-repeat:no-repeat;
}


#headerWrapper {
	font-size:16px;
	font-weight:medium;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}

#open-menu {
	cursor:pointer;
	margin-right:auto;
	margin-left:20px;
}

.link {
	display:inline-block;
	padding:0 20px;
}


.link a{
	text-decoration:none;
	color:#fff;
	transition:all 0.3s ease 0s;
	
}

.link a:hover{
	text-decoration:none;
	color:#A8A8AA;
	transition:all 0.3s ease 0s;
	
}

.btn-small {
	background-color:transparent;
	color:#fff;
	font-weight:medium;
	padding:9px 25px;
	border:1.5px solid #fff;
	cursor:pointer;
	transition:all 0.3s ease 0s;
	margin-right:20px;
}


.btn-small:hover {
	background-color:transparent;
	color:#f2f2f2;
	padding:9px 25px;
	border:1.5px solid #f2f2f2;
	cursor:pointer;
}


.btn-large-dark {
	background-color:#312E58;
	color:#fff;
	font-weight:medium;
	padding:15px 25px;
	border:1.5px solid #312E58;
	cursor:pointer;
	transition:all 0.3s ease 0s;
	margin-right:20px;
}


.btn-large-dark:hover {
	background-color:#312e50;
}



.btn-large-light {
	background-color:#FFF;
	color:#707070;
	font-weight:medium;
	padding:15px 25px;
	border:1.5px solid #FFF;
	cursor:pointer;
	transition:all 0.3s ease 0s;
	margin-right:20px;
}


.btn-large-light:hover {
	background-color:#f2f2f2;
	border:1.5px solid #f2f2f2;
}


#hero {
	height:100%;
}

#hero h1 {
	color:#fff;
}

#hero p {
	color:#707070;
}

#hero #heroContent{
	/*margin-top:5%;*/

    text-align:center;
 
}

#hero #heroButtons {
	
	text-align: center;
}

#heroImage {
  background-image: url('/../img/hero-image.png'); 
  height:100vh;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  
}